@* @model Blog_Application.Models.ViewModels.PostViewModel *@
@* or import in _viewimport.cshtml file for intellisense *@

@* namespace *@
@model PostViewModel

@{
    ViewData["Title"] = "Create Post";

}
<style>
    .content-wrapper{
        padding:20px;
        max-width:1000px;
        margin: 0 auto;
        font-family:sans-serif
    }
</style>
<div class="content-wrapper">
    <div class=" row">
        <div class="col-6">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary">Back to List</a>
        </div>
    </div>
    <hr />
    <form asp-action="Create" asp-controller="Post" method="post" enctype="multipart/form-data">
        <div class="validation-summary">
            <div asp-validation-summary="All"></div>
        </div>
        <div class="form-group">
            <label asp-for="Post.Title"></label>
            <input asp-for="Post.Title" class="form-control"/>
            <span asp-validation-for="Post.Title" class="text-danger"></span>
        </div>
        <div class=" form-group">
            <label asp-for="Post.CategoryId"></label>
            <select asp-for ="Post.CategoryId" asp-items="Model.Categories" class="form-control" >
                <option value="">
                    Select Category
                </option>
            </select>
            <span asp-validation-for="Post.CategoryId"></span>
        </div>
        <div class="form-group">
            <label asp-for="Post.Author"></label>
            <input asp-for="Post.Author" class="form-control" />
            <span asp-validation-for="Post.Author" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Post.Content"></label>
            <textarea asp-for="Post.Content" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Post.Content" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="FeatureImage"></label>
          <input asp-for="FeatureImage" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary mt-1">Create</button>
        <a class=" btn btn-secondary mt-1">Back To List</a>
    </form>
</div>
@section Scripts{
    <script src="https://cdn.tiny.cloud/1/qnaxuniuxwofl3lmo75x60prgg9pbsvmgfzrnizup2i3ht8o/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous"></script>
    <script>
          tinymce.init({
          selector: 'textarea',
          plugins: [
            // Core editing features
            'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
            // Your account includes a free trial of TinyMCE premium features
            // Try the most popular premium features until Mar 31, 2026:
            'checklist', 'mediaembed', 'casechange', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'advtemplate', 'ai', 'uploadcare', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
          ],
          toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography uploadcare | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
          mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
          ],
          ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
          uploadcare_public_key: '74ad194a914718a555a5',
        });
    </script>
}
